#homeButton:hover {
    -fx-background-color: #4EFEB3	; /* 將此更改為您想要的顏色 */
}
#homeButton {
    -fx-background-radius: 0px;
    -fx-background-color: #ADFEDC; /* 將此更改為您想要的顏色 */
}
#settingButton:hover {
    -fx-background-color: #4EFEB3	; /* 將此更改為您想要的顏色 */
}
#settingButton {
    -fx-background-radius: 0px;
    -fx-background-color: #ADFEDC; /* 將此更改為您想要的顏色 */

}
/*
#MenuHBox {
    -fx-max-width: 100%;
    -fx-max-height: 100%;
    #28F4C0
}
*/
